body {
  margin: 0 auto;
  font-family: sans-serif;
  color: white;
  overflow-x: hidden;
  background-color: blue;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.red {
  background-color:red ;
}

.blue {
  background-color: blue;
}

/* .black {
  background-color: black;
} */

.gray {
  background-color: #808080;
}

.green {
  background-color: #32CD32;
}

.yellow {
  background-color:	#ecec0e;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: #ffb3de;
  ;
}

.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: blue;
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(-4%, 40%);
  background-color: red;
  z-index: 1;
}

.black::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: black;
    height: 85%;
}

.wavey {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wavey svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 226px;
}

.wavey .shape-fill {
  fill: black;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('layered-waves-haikei.svg');
}

.layer2 {
  background-image: url('pink.svg');
}

.flip {
  transform: rotate(180deg);
}

.blob-motion {
  position: absolute;
  transform: translateY(-50%);
}